<ngb-alert *ngIf="lockedMessage" type="success" (close)="lockedMessage = null">{{ lockedMessage }}</ngb-alert>
<h2 class="text-muted">Dashboard</h2>
<div class="row">
  <div class="col-md-12">
    <div class="card mb-3">
      <div class="card-header">
        Asset
      </div>

      <label for="typeahead-focus">Search for a asset:</label>

      <input
        id="typeahead-focus"
        type="text"
        class="form-control"
        [(ngModel)]="selectedAsset"
        [ngbTypeahead]="filteredAssets$"
        (focus)="focus$.next($event.target.value)"
        (click)="click$.next($event.target.value)"
        (typeaheadNoResults)="setInvalidNumber($event)"
        (typeaheadOnSelect)="showNumber($event.item)"
        #instance="ngbTypeahead"
      />

      <div class="card-body table-responsive">
        <ngb-tabset>
          <ngb-tab title="Table">
            <ng-template ngbTabContent>
              <table class="table">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Asset No</th>
                  <th>Category</th>
                  <th>Registration Date</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>

                <ng-template let-asset let-last="last" let-i="index" ngFor [ngForOf]="filteredAssets$ | async">
                  <tr>
                    <th scope="row">{{i+1}}</th>
                    <td>{{asset.assetNo}}</td>
                    <td>{{asset.category | assetCategoryPipe}}</td>
                    <td>{{asset?.registeredDate | date:'shortDate' }}</td>
                    <td>
                      <button type="button" class="btn btn-outline-secondary" placement="top"
                              ngbTooltip="Tooltip on top">
                        Tooltip on top
                      </button>
                    </td>
                    <td><a (click)="viewAsset(asset)" class="btn btn-primary btn-lg" role="button">
                      <i class="fa fa-fw fa-gear"></i></a></td>
                </ng-template>
                </tbody>
              </table>
            </ng-template>
          </ngb-tab>
          <ngb-tab>
            <ng-template ngbTabTitle><b ngbPopover="Click to open tabs!" triggers="mouseenter:mouseleave"
                                        popoverTitle="Pop title" (click)="changeLockedMessage()">Texts</b></ng-template>
            <ng-template ngbTabContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee
              squid.
              <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko
                farm-to-table
                craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco
                ad vinyl
                cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS
                salvia
                yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit,
                sustainable jean
                shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr
                butcher vero
                sint qui sapiente accusamus tattooed echo park.</p>
            </ng-template>
          </ngb-tab>

          <ngb-tab title="Disabled" [disabled]="true">
            <ng-template ngbTabContent>
              <p>Sed commodo, leo at suscipit dictum, quam est porttitor sapien, eget sodales nibh elit id diam. Nulla
                facilisi. Donec egestas ligula vitae odio interdum aliquet. Duis lectus turpis, luctus eget tincidunt
                eu, congue et odio. Duis pharetra et nisl at faucibus. Quisque luctus pulvinar arcu, et molestie lectus
                ultrices et. Sed diam urna, egestas ut ipsum vel, volutpat volutpat neque. Praesent fringilla tortor
                arcu. Vivamus faucibus nisl enim, nec tristique ipsum euismod facilisis. Morbi ut bibendum est, eu
                tincidunt odio. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                Mauris aliquet odio ac lorem aliquet ultricies in eget neque. Phasellus nec tortor vel tellus pulvinar
                feugiat.</p>
            </ng-template>
          </ngb-tab>
        </ngb-tabset>

      </div>
    </div>
  </div>
</div>
